## python 3.10

uvicorn
fastapi[all]

# for body model
pydantic

# for extra fields
uuid
datetime

# for database
sqlalchemy
psycopg2

#for loading environment variables
python-dotenv

#hashing
passlib[bcrypt]

#jwt
python-jose[cryptography]

#test
pytest

#admin
sqladmin

#images
pillow
python-barcode

#payment
stripe